---
layout: layouts/base.njk
title: "Events"
permalink: /events/
navActive: "events"
---

<h1 class="display-1 mb-5">Events</h1>

<div class="row pb-5 mb-5">
	<div class="col-lg-3 mb-5">
		<a href="/events/smash-or-pass/">
			<img src="/images/posts/jag-fest-2021-smash-or-pass-1.jpg"
				 alt="Smash or Pass event"
				 class="img-fluid rounded shadow">
		</a>
	</div><!-- end col -->

	<div class="col-lg-3 mb-5">
		<a href="/events/friday-night-impulse/">
			<img src="/images/posts/website-post-friday-night-impulse.jpg"
				 alt="Friday night Impulse Event"
				 class="img-fluid rounded shadow">
		</a>
	</div><!-- end col -->
</div><!-- end row -->

<h2 class="display-2 mb-5">Past Events</h2>

<div class="row">
	<div class="col-lg-3">
		<a href="/events/jag-fest/2018/">
			<img src="/images/posts/jag-fest-2018-banner.jpg"
				 alt="JAG Fest 2018"
				 class="img-fluid rounded shadow">
		</a>
	</div><!-- end col -->
</div>
