---
layout: layouts/base.njk
title: "Friday Night Impulse"
permalink: /events/friday-night-impulse/
navActive: "events"
---

<h1 class="display-1 mb-5">Friday Night Impulse</h1>

<div class="mb-5">
	<img src="/images/posts/website-post-friday-night-impulse-header.jpg"
		 alt="Friday Night Impulse"
		 class="img-fluid rounded shadow">
</div>


<h2>More information coming soon</h2>
