---
layout: layouts/base.njk
title: "Smash or Pass"
permalink: /events/smash-or-pass/
navActive: "events"
---

<div class="container">
<h1 class="display-1 mb-5">Smash or Pass</h1>

<div class="mb-5">
	<img src="/images/posts/jag-fest-2021-smash-or-pass-1-header.jpg"
		 alt="Smash or Pass header"
		 class="img-fluid rounded shadow">
</div>


<h2>More information coming soon</h2>
</div><!-- end container -->
