---
layout: layouts/base.njk
title: "Winter War 2021"
permalink: /events/2021-winter-war/
navActive: "events"
---

<h1 class="display-1 mb-5">Winter War 2021</h1>

<div class="mb-5">
	<img src="/images/posts/2020-2021-winter-war-f.jpg"
		 alt="Winter War 2021 banner"
		 class="img-fluid rounded shadow">
</div>


<h2>More information coming soon</h2>
