---
layout: layouts/base.njk
title: "JAG Fest 2018"
permalink: /events/jag-fest/2018/
navActive: "events"
---

<div class="container">
<h1 class="display-1 mb-5">JAG Fest 2018</h1>

<div class="mb-5">
	<img src="/images/posts/jag-fest-2018-images-post-1.jpg"
		 alt="JAG Fest 2018 in the action"
		 class="img-fluid rounded shadow">
</div>




<div class="mb-5">
	<img src="/images/posts/jag-fest-2018-images-post-2.jpg"
		 alt="JAG Fest 2018 winner"
		 class="img-fluid rounded shadow d-block mx-auto">
</div>


<div class="mb-5">
	<img src="/images/posts/jag-fest-2018-images-post-3.jpg"
		 alt="JAG Fest 2018 group shot"
		 class="img-fluid rounded shadow d-block mx-auto">
</div>
</div><!-- end container -->
