---
layout: layouts/base.njk
title: "JAG Fest 2021"
permalink: /events/jag-fest/2021/
navActive: "events"
---

<div class="container">
<h1 class="display-1 mb-5">JAG Fest 2021</h1>

<div class="mb-5">
	<img src="/images/posts/jag-fest-2021-annoucement-header.jpg"
		 alt="JAG Fest 2021 banner"
		 class="img-fluid rounded shadow">
</div>


<h2>More information coming soon</h2>
</div><!-- end container -->
