<script src="/js/bootstrap.js"></script>

<script>
	{% set gamesJSON %}
	let gamesJSON = {% include "source/_data/games.json" %}
	{% endset %}
	{{ gamesJSON | safe }}
</script>


<script>
	{% set js %}
	{% if slider %}{% include "source/_includes/partial-js/library-carousel.js" %}{% endif %}


	{% if title == "Home" %}{% include "source/_includes/partial-js/homepage.js" %}{% endif %}

	{% include "source/_includes/partial-js/scripts.js" %}
	{% endset %}
	{{ js | safe }}
</script>
