<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<style>
	{% set css %}
	{% include "source/_includes/partial-css/styles.css" %}
	{% include "source/_includes/partial-css/media-max-1200.css" %}
	{% include "source/_includes/partial-css/media-max-768.css" %}
	{% endset %}
	{{ css | minifyCSS | safe }}
</style>
