<nav class="">
	{% for link in nav %}
		<a href="{{ link.href }}"
		   class="d-flex align-items-center py-3 {% if link.active == navActive %}active{% endif %}">
			{% icon link.icon %}
			<span class="d-inline-block ml-3">{{ link.name }}</span>
		</a>
	{% endfor %}
</nav>
