---
layout: layouts/base.njk
title: "Merch"
permalink: /merch/
navActive: "merch"
---

<div class="container">
<h1 class="display-1 mb-5">Merch</h1>
<h2>Merch page coming soon</h2>
</div><!-- end container -->

