<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title }} | {{ metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">

	{% include "source/_includes/components/head-meta-tags.njk" %}

	{% include "source/_includes/components/head-css-tags.njk" %}
</head>
<body>

<div class="container">
	<header class="row align-items-center justify-content-between py-3 mb-3">
		<div class="col-auto px-0 d-lg-none d-block">
			<button class="btn invisible">{% icon "list" %}</button>
		</div>

		{% include "source/_includes/components/head-nav.njk" %}

		<div class="col-auto px-0 d-lg-none d-block">
			<button class="btn" data-bs-toggle="modal" data-bs-target="#nav-modal">{% icon "list" %}</button>
		</div>
	</header><!-- end container -->
</div><!-- end container -->


<main>
	{{ content | safe }}
</main><!-- end row -->


<footer></footer>


<div class="modal fade" id="nav-modal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content border-0">
			<div class="sidebar">
				{% include "source/_includes/components/head-nav.njk" %}
			</div>
		</div><!-- content -->
	</div><!-- end dialog -->
</div><!-- end modal -->





{% include "source/_includes/components/footer-js-tags.njk" %}

</body>
</html>
