---
layout: layouts/base.njk
title: "About Me"
permalink: /about/
navActive: "about"
---

<div class="container">
<h1 class="display-1 mb-5">About Just J Network</h1>
<h2>I am a person that writes stuff.</h2>
</div><!-- end container -->
