---
layout: layouts/base.njk
title: "Home"
permalink: /
navActive: "home"
slider: true
---


<div id="homepage-slider" class="splide mb-5">
	<div class="splide__track">
		<ul class="splide__list">
			{% for banner in homepageCarousel %}
				<li class="splide__slide">
					<a href="{{ banner.url }}" class="d-block mb-5">
						<img src="/images/homepage-banners/{{ banner.image }}"
							 alt="{{ banner.name }}"
							 width="1861"
							 height="744"
							 class="img-fluid rounded shadow d-block">
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>


<div class="mb-5">&nbsp;</div>

<div class="container">
	<div class="jag-fest-promo row align-items-center mb-5">
		<div class="col-xl pe-xl-5">
			<div class="d-flex">
				<div class="jag-fest-promo-hashtag">#justjnetwork</div>
				<h2>JAGFEST 2021 <span class="d-lg-block d-none"></span>The Best One Yet!</h2>
			</div><!-- end d-flex -->

			<p>40+ participants, 6 games, two nights, one winner. This will be the largest JAG Fest in the history of Just J Network. Hone your skills, and defeat your opponents in a grueling battle to the death, to win the JAG Fest Champion's Belt.</p>
		</div><!-- end col -->

		<div class="col-xl-auto">
			<img src="/images/posts/jagfest-2021-banner.jpg" alt="JAG Fest 2021" class="img-fluid rounded d-block mx-auto">
		</div><!-- end col -->
	</div><!-- end jag fest promo -->




	<div class="mb-5">&nbsp;</div>
	<div class="mb-5">&nbsp;</div>
	<div class="mb-5">&nbsp;</div>





	<div class="text-end mb-5">
		<h2 class="display-1 mb-5">Upcoming Matches</h2>

		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="row align-items-center justify-content-center">
					<div class="col-auto">
						<img src="/images/avatars/{{ ranking[0].avatar }}"
							 alt="{{ ranking[0].name }}"
							 class="img-fluid rounded-circle"
							 style="max-width: 100px;">
					</div><!-- end col -->

					<div class="col-auto">
						<h3 class="display-4">{{ ranking[0].name }}</h3>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end col -->

			<div class="col-lg-2">
				<img src="/images/avatars/games/{{ games[1].avatar }}" alt="{{ games[1].name }}" class="img-fluid upcoming-match-game-avatar">
			</div><!-- end col -->

			<div class="col-lg-5">
				<div class="row align-items-center justify-content-center">
					<div class="col-auto">
						<h3 class="display-4">{{ ranking[1].name }}</h3>
					</div><!-- end col -->

					<div class="col-auto">
						<img src="/images/avatars/{{ ranking[1].avatar }}"
							 alt="{{ ranking[1].name }}"
							 class="img-fluid rounded-circle"
							 style="max-width: 100px;">
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- end text end -->






	<div class="mb-5">&nbsp;</div>
	<div class="mb-5">&nbsp;</div>
	<div class="mb-5">&nbsp;</div>




	<h2 class="display-1">Latest Posts</h2>

	<div id="homepage-post-block" class="mb-5">
		{% set postslist = collections.posts | head(-3) %}
		{% set postslistCounter = collections.posts | length %}
		{% include "postslist.njk" %}
	</div><!-- end post block -->

	<div class="mb-5">&nbsp;</div>
</div><!-- end container -->
