body {
	background-color: #121421;
	color: #fff;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Permanent Marker', cursive;
}

header, .sidebar {
	background-color: #090d16;
}

header h1 a {
	color: #ffffff;
}

header h1 .img-fluid {
	max-width: 50px;
}

.sidebar {
	max-width: 350px!important;
}

.sidebar a {
	text-decoration: none;
	color: #eeeeee;
	margin-right: 20px;
	padding-left: 40px;
	font-weight: 600;
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a.active {
	background-color: #0862ea;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

#nav-modal .modal-content,
#nav-modal .modal-dialog {
	max-width: 300px;
	margin: 0;
	background-color: #090d16;
	height: 100vh;
}

#nav-modal.show  {
	margin-top: 92px;
}

main {
	min-height: 100vh;
}

.post-layout-container{
	max-width: 800px;

}


header button.btn {
	color: #fff;
	/*font-size: 30px;*/
}

header button.btn:hover,
header button.btn:focus {
	color: #0a53be;
}

header button.btn svg {
	vertical-align: baseline;
	height: 30px;
	width: 30px;
}





@media screen and (min-width: 992px) {

}
