---
layout: layouts/post-video.njk
videoTitle: "The Room"
episode: 1
title: "Royal Rumble 2021"
description: "This is a post on My Blog about agile frameworks."
date: "2021-02-06"
videoID: "5t8SSqchSrA"
category: "videos"
tags:
  - "wrestling"
---

